<!DOCTYPE html>
<html>
<head>
  <title>Smart Parcel Care</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% include 'includes/_navbar.html' %}
{% include 'includes/_message.html'%}
</head>
<style type="text/css">
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
</style>
<body>
  <div class="container">
    {% block body %}{% endblock %}
  </div>
</body>
</html>
